[submodule "Pokemon/Libs/JSONKit"]
	path = Pokemon/Libs/JSONKit
	url = git://github.com/Kjuly/JSONKit.git
[submodule "Pokemon/Libs/AFNetworking"]
	path = Pokemon/Libs/AFNetworking
	url = git://github.com/Kjuly/AFNetworking.git
[submodule "Pokemon/Libs/MBProgressHUD"]
	path = Pokemon/Libs/MBProgressHUD
	url = git://github.com/Kjuly/MBProgressHUD.git
[submodule "Pokemon/Libs/Cocos2D-iPhone"]
	path = Pokemon/Libs/Cocos2D-iPhone
	url = git://github.com/Kjuly/cocos2d-iphone.git
[submodule "Pokemon/Libs/GTMOAuth2"]
	path = Pokemon/Libs/GTMOAuth2
	url = git://github.com/Kjuly/GTMOAuth2.git
