<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sid</key>
		<real>1</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>2</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>3</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>4</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>5</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>6</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>7</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>8</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>9</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>10</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>11</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>12</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>13</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>14</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>15</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>16</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>17</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>18</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>19</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>20</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>21</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>22</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>23</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<integer>24</integer>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>25</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>26</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>27</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>28</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>29</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>30</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>31</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
	<dict>
		<key>sid</key>
		<real>32</real>
		<key>type</key>
		<integer>0</integer>
		<key>code</key>
		<integer>0</integer>
		<key>price</key>
		<integer>0</integer>
		<key>location</key>
		<string>0</string>
	</dict>
</array>
</plist>
