<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<array>
			<integer>4</integer>
			<integer>7</integer>
		</array>
		<key>name</key>
		<string>Bulbasaur</string>
		<key>species</key>
		<integer>1</integer>
		<key>height</key>
		<integer>710</integer>
		<key>weight</key>
		<integer>6900</integer>
		<key>description</key>
		<string>Detail description about Bulbasaur here. Need added one by one.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lvysaur</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Venusaur</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Charmander</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Charmeleon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Charizard</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Squirtle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wartortle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blastoise</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Caterpie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Metapod</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Butterfree</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Weedle</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kahuna</string>
	</dict>
	<dict>
		<key>Beedrill</key>
		<string></string>
	</dict>
	<dict>
		<key>Pidgey</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pidgeotto</string>
	</dict>
	<dict>
		<key>Pidgeot</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rattata</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Raticate</string>
	</dict>
</array>
</plist>
