<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Bulbasaur</string>
		<key>type1</key>
		<integer>0</integer>
		<key>type2</key>
		<integer>0</integer>
		<key>species</key>
		<integer>1</integer>
		<key>color</key>
		<integer>0</integer>
		<key>height</key>
		<integer>71</integer>
		<key>weight</key>
		<integer>6900</integer>
		<key>ability1</key>
		<integer>0</integer>
		<key>ability2</key>
		<integer>0</integer>
		<key>hiddenAbility</key>
		<integer>0</integer>
		<key>genderRate</key>
		<integer>0</integer>
		<key>stepsToHatch</key>
		<integer>0</integer>
		<key>rareness</key>
		<integer>0</integer>
		<key>happiness</key>
		<integer>0</integer>
		<key>baseEXP</key>
		<integer>0</integer>
		<key>growthRate</key>
		<integer>0</integer>
		<key>habitat</key>
		<integer>0</integer>
		<key>area</key>
		<string>0,0</string>
		<key>baseStats</key>
		<string></string>
		<key>effortPoints</key>
		<string></string>
		<key>info</key>
		<string>Detail description about Bulbasaur here. Need to be added one by one. Blablablablabla... Blablabla... Blabla..</string>
		<key>evolutions</key>
		<string></string>
		<key>moves</key>
		<string></string>
		<key>compatibility</key>
		<integer>0</integer>
		<key>eggMoves</key>
		<string></string>
	</dict>
</array>
</plist>
