<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>App Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Location Services</string>
			<key>Key</key>
			<string>keyAppSettingsLocationServices</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Child Pane Title</string>
			<key>Key</key>
			<string>keyAppSettingsSkin</string>
			<key>File</key>
			<string>ChildPane</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font</string>
			<key>Key</key>
			<string>keyAppSettingsFont</string>
			<key>Titles</key>
			<array>
				<string>Small</string>
				<string>Normal Normal</string>
				<string>Big</string>
			</array>
			<key>DefaultValue</key>
			<string>Normal</string>
			<key>Values</key>
			<array>
				<string>Small</string>
				<string>Normal</string>
				<string>Big</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Game Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>keyGameSettingsAutoSaveGameDataToServer</string>
			<key>Title</key>
			<string>Auto Save Game Data To Server</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>keyAboutAppVersion</string>
			<key>DefaultValue</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
